# Built Model files
*.rbxm
*.rbxmx

# Roblox Studio lock files
*.rbxlx.lock
*.rbxl.lock

sourcemap.json
.vscode

# Affinity files
*.af~lock~
*.af

# Vitepress files
docs/.vitepress/dist
docs/.vitepress/cache

# Tests aren't ready yet
tests
scripts